.RandomUser-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Input-RandomUser {
    width: 80%;
    margin: 5% 0 5% 0;
    font-size: 16px;
    padding: 1.5%;
    border-radius: 6px;
    border: 1px;
    border-color: #A8A8A8;
    border-style: solid;
}

.Container-Cards {
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Buttons-div {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    margin-bottom: 5%;
}

.AtualPage-div {
    background: #FFF;
    width: 60px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Pagination-Button{
    font-weight: bold;
    padding: 8px 12px 8px 12px;
    font-size: 18px;
    border: 1px solid #A8A8A8;
    background: #D6DF27;
}

.Pagination-Button:hover{
    cursor: pointer;
    background-color: #A9B01A;
}