.Container-HTTP-Cats{
    display: flex;
    justify-content: center;
}
.Content-HTTPCats {
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    margin-top: 7.5%;
}

.HTTPCats-Text {
    color: #FFF;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.HTTPCats-Input{
    width: 100%;
    margin-top: 5%;
    font-size: 16px;
    padding: 1.5%;
    border-radius: 6px;
    border: 1px;
    border-color: #A8A8A8;
    border-style: solid;
}