.CRUD-Main-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CRUD-Table {
    border-collapse: collapse;
    border: 1px solid black;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 70vh;
    display: block;
}


.CRUD-Table td,
.CRUD-Table th {
    padding: 10px 8px 10px 8px;
    text-align: center;
}

.CRUD-Table tr {
    background-color: #D9D9D9;
    border: 1px solid black;
}

.CRUD-Table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #D6DF27;
    color: black;
    border-bottom: 1px solid black;
    text-align: center;
}

@media(max-width: 835px) {

    .CRUD-Table th,
    .Open-button-CRUD {
        font-size: 14px;
    }

    .CRUD-Table td {
        font-size: 12px;
    }
}

@media(max-width: 610px) {

    .CRUD-Table th,
    .Open-button-CRUD {
        font-size: 12px;
    }

    .CRUD-Table td {
        font-size: 10px;
    }
}

@media(max-width: 530px) {

    .CRUD-Table th,
    .Open-button-CRUD {
        font-size: 10px;
    }

    .CRUD-Table td {
        font-size: 8px;
    }
}

@media(max-width: 445px) {

    .CRUD-Table th,
    .Open-button-CRUD {
        font-size: 8px;
    }

    .CRUD-Table td {
        font-size: 6px;
    }
}