.button-CRUD {
    padding: 5% 7.5% 5% 7.5%;
    width: 100%;
    border: none;
    font-weight: bold;
}

#Edit-button-CRUD:hover {
    cursor: pointer;
    background-color: #0a4d4c;
}

#Edit-button-CRUD {
    background-color: #0E7473;
    color: #FFF;
}

#Delete-button-CRUD {
    background-color: red;
}

#Delete-button-CRUD:hover {
    cursor: pointer;
    background-color: #B22512;
}

@media(max-width: 600px) {

    #Edit-button-CRUD,
    #Delete-button-CRUD {
        font-size: 10px;
    }
}