.Modal-edit {
    position:absolute;
    width: 95%;
    display: flex;
    justify-content: center;
    top: 5;
}

.Modal-body {
    background: #FFF;
    width: 90%;
    height: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 6px;
}

.Modal-group-block {
    display: flex;
}

.Input-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 1.5%;
}

.Input-modal-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2%;
}

.Input-modal {
    padding: 2%;
    font-size: 16px;
}

.Modal-buttons-div {
    padding: 2%;
    text-align: end;
}

.Modal-button {
    font-size: 16px;
    font-weight: bold;
    padding: 1%;
    border-radius: 4px;
    border: none;
    width: 22.5%;
}

#Edit-button {
    background-color: #48BB35;
    margin-right: 2.5%;
}

#Edit-button:hover{
    cursor: pointer;
    background-color: #379328;
}

#Close-button {
    background-color: red;
}

#Close-button:hover{
    cursor: pointer;
    background-color: #B22512;
}